{# Test point matrix: one parameter per row, one column per test point. #}
<div class="ccp-test-grid">
  <table class="ccp-test-grid__table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Units</th>
        {% for i in test_point_indices %}<th scope="col">Point {{ i }}</th>{% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for parameter in test_parameters %}
        <tr>
          <th scope="row">{{ parameter }}</th>
          <td><input type="text" name="{{ parameter }}_unit_test" class="ccp-test-grid__unit"></td>
          {% for i in test_point_indices %}
            <td><input type="text" name="{{ parameter }}_point_{{ i }}" class="ccp-test-grid__value"></td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
